---
http_interactions:
- request:
    method: get
    uri: https://fps.sandbox.amazonaws.com/?Action=VerifySignature&HttpParameters=paymentReason=PLEDGE%2520%2524125%2520OR%2520MORE%26signatureMethod=RSA-SHA1%26transactionAmount=USD%2520125.000000%26transactionId=1794K5NZC4NFV8AQF3PQ69I1IPHG98K3QCQ%26status=PR%26buyerEmail=aws%2540crowdint.com%26referenceId=1%26recipientEmail=padillad%2540gmail.com%26transactionDate=1349848849%26buyerName=Crowd%2520Interactive%26operation=reserve%26recipientName=Test%2520Business%26signatureVersion=2%26certificateUrl=https%253A%252F%252Ffps.sandbox.amazonaws.com%252Fcerts%252F090911%252FPKICert.pem%253FrequestId%253D15n5n843ogdopypeeyc9zimnbzsj44f0eev0n0xbrobpxdl%26paymentMethod=CC%26signature=XwxaK5ZdQeMyq%252F%252FemnLGRs%252BHn6EUCHQhWy2k2qn77sdYQyc7c3kWA91I71e919keqzmcKUv18D%252BJ%250Az%252FY7cW9sCw6bnl0HaI834YrNwuh6eEaG6QE4GRI%252FHWkUFsfWwsKPAMF1DLLeOU5L%252Fe%252FTaUbPmhhC%250AgOC8Kdin9QNp%252FkgBsWw%253D&UrlEndPoint=http://crowdraiser.herokuapp.com/ipns&Version=2008-09-17
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Cneonction:
      - close
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <Response><Errors><Error><Code>InvalidSignature</Code><Message>The request
        signature we calculated does not match the signature you provided.</Message></Error></Errors><RequestID>700a789f-3766-42e6-9186-873a371539fa</RequestID></Response>'
  recorded_at: Wed, 10 Oct 2012 17:54:41 GMT
- request:
    method: get
    uri: https://fps.sandbox.amazonaws.com/?Action=VerifySignature&HttpParameters=paymentReason=PLEDGE%2520%2524125%2520OR%2520MORE%26signatureMethod=RSA-SHA1%26transactionAmount=USD%2520125.000000%26transactionId=1795TCUZJ5AUEUENQIZM5C3IU1OED4MFCZ4%26status=PR%26buyerEmail=aws%2540crowdint.com%26referenceId=3%26recipientEmail=padillad%2540gmail.com%26transactionDate=1349892077%26buyerName=Crowd%2520Interactive%26operation=reserve%26recipientName=Test%2520Business%26signatureVersion=2%26certificateUrl=https%253A%252F%252Ffps.sandbox.amazonaws.com%252Fcerts%252F090911%252FPKICert.pem%253FrequestId%253D15n5n843ogdopypeeyc9zimnbzsj44f0eev0n0xbrobpxkg%26paymentMethod=CC%26signature=T6%252FqC%252BYRbp%252FB0Xy9pTHydvHQYE5oj991pa6ypZRlb8ydbkTp%252BKyRZN7x4yPHZzoWij3viEEOGPlm%250AGuiMLnYdmOgBkxgERd0sYOFhZ8uzcRO7D3LarQ%252F8dcitShUK9inQnDUyt2do69d%252BbVw5d8cYbBs2%250AB771bYlX6bNIEPcr2jk%253D&UrlEndPoint=http://crowdraiser.herokuapp.com/ipns&Version=2008-09-17
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <VerifySignatureResponse xmlns="http://fps.amazonaws.com/doc/2008-09-17/"><VerifySignatureResult><VerificationStatus>Success</VerificationStatus></VerifySignatureResult><ResponseMetadata><RequestId>b01f4400-50cb-40b6-9ddd-226b130936b1:0</RequestId></ResponseMetadata></VerifySignatureResponse>'
  recorded_at: Wed, 10 Oct 2012 18:04:26 GMT
recorded_with: VCR 2.2.5
