- if @contribution.errors.any?
  $('.payment-errors').html("<div class='alert alert-error'>#{raw @contribution.errors.full_messages.join('<br/>')}</div>")
- else
  $('.backers').html("#{Fundraiser::Contribution.count}");
  $('.total').html("#{number_to_currency Fundraiser::Contribution.total_contributed}");
  $('.buy').html("<div class='alert alert-info'>Thank you for helping us reach our funding goal, #{@contribution.name}. We will only charge you when (and if) we get to the amount we hope to achieve.</div>");
