.control-group
  = f.label column, :class => "control-label"

  .controls
    = f.text_field column, :class => input_class
    - unless f.object.errors[column].empty?
      .help-inline.error
        = f.object.errors[column].join(', ')

