%h1 Choose a Reward

%h2 Total Contribution: #{number_to_currency Fundraiser::Contribution.total_contributed}
%h3 of #{number_to_currency Fundraiser::Settings.funding_goal} until #{Fundraiser::Settings.funding_end_date}

#rewards
  .row= render @rewards
